<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<test name="Register Test">
		<classes>
			<class name="com.poly.selenium.RegisterTest" />
		</classes>
	</test>
	<test name="Login Test">
		<classes>
			<class name="com.poly.selenium.LoginTest" />
		</classes>
	</test>
	<test name="Crud Test">
		<classes>
			<class name="com.poly.selenium.CrudTest" />
		</classes>
	</test>
</suite>
